html {
    font-family: monospace;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* ---- Body-Header ---- */

body {
    background-color: #ffc048;
}

/* ---- Barra de navegación ---- */
.header-list {
    background-color: #1e272e;
    height: 40px;
    width: 100%;
}

nav .header-list__item {
    float: right;
    margin-right: 10px;
}

.header-list__item {
    display: inline-block;
    line-height: 40px;
}

.header-list__item a {
    color: #ecf0f1;
    padding: 20px 30px;
    border-radius: 7px;
    text-decoration: none; 
}

/* ---Activers and hover--- */
.header-list__item a:hover {
    color:#55E6C1;
}

.header-list__item a:active {
    color: #FC427B;
}

/* --------------------------------------- */

/* ---- Palette colors ---- */

/* Black p: #1e272e (nav_bar)*/
/*  Sasquatch socks: #FC427B */
/* SweetGarden: #55E6C1 */
/* NarenjiOrange: #ffc048 */
/* Clouds: #ecf0f1 */
/* ---- Palette colors ---- */