/* ---- Body-Header ---- */

body {
    background-color: #ffc048;
}

/* ---- Barra de navegación ---- */
.header-list {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #1e272e;
}

.header-list__item {
    display: inline-block;
    font-size: 23px;
    font-family: monospace;
}

.header-list__item a {
    color: #ecf0f1;
    padding: 13px;
    border-radius: 7px;
    text-decoration: none; 
}

/* ---Activers and hover--- */
.header-list__item a:hover {
    color:#55E6C1;
}

.header-list__item a:active {
    color: #FC427B;
}

/* --------------------------------------- */

/* ---- Palette colors ---- */

/* Black p: #1e272e (nav_bar)*/
/*  Sasquatch socks: #FC427B */
/* SweetGarden: #55E6C1 */
/* NarenjiOrange: #ffc048 */
/* Clouds: #ecf0f1 */
/* ---- Palette colors ---- */